body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: lightgrey;
  background-image: url(svgs/background.svg);
  background-size: auto;

}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  fill:currentColor;
  font-weight: 700;
  margin: auto 5px;
  text-align: center;
}
.st0{
  fill:#BA8058;
}
.st1{
  fill:#EAAA7F;
}
.st2{
  fill:#F4C6A6;
  transition: .4s ease;
}

a:hover,
a:hover .icon{
  color: #111;
  transform: scale(.8);
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
nav{
  padding: 10px;
  width: 400px;
}
.logo {
  width: 140px;
  height: 120px;
}
.corgi{
  width: 150px;
  margin: 10px;
}
.icon{
  /* width: 20px;
  height:20px; */
  display: inline;
  fill: currentColor;
  transition: .4s ease;
  transform-origin: 50% 50%;
}
.nav-icon{
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.st1{
  opacity: 0;
}
h1{
  display: block;
}
.logo{
  width: 140px;
  height: 120px;
  margin: auto;
}
.logo:hover .st2{
  fill: #353535;
}

.body{
  fill: currentColor;
}
.nose_and_eyes{fill:#2D3339;}
.brows{fill:#DA8058;}
.white{fill:#FBFEFF;}

.symbol{
  display:none;
}
.original{
  color: #52595F;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.dark{
  color: purple;
}

@media (min-width: 425px) {
  .st1{
    opacity: 1;
  }
  h1{
    display: none;
  }
}
